<ion-header>
  <ion-toolbar>
    <ion-title style="width:100%;height:60px;background-color:rgb(62, 62, 245);padding-top:0%">Join Blue</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
  <div style="width:80%;margin-left:30px;text-align:left;height:450px">
<form>
<ion-row style="margin-top:30px">
  <ion-col>
    <ion-label>Contract Money</ion-label>
  </ion-col>
  </ion-row>
  <ion-row style="margin-top:20px">
  <ion-col>
  <ion-toolbar> 
    <ion-button (click)="amount(10)">10</ion-button>
    <ion-button (click)="amount(100)">100</ion-button>
    <ion-button (click)="amount(1000)">1000</ion-button>
    <ion-button (click)="amount(10000)">10000</ion-button>
    </ion-toolbar>
  </ion-col>
</ion-row>  
<ion-row style="margin-top:30px">
  <ion-label>Contract Count</ion-label>
</ion-row>
<ion-row style="margin-top:20px">
  <ion-col size-md="4" size-lg="4" size-xs="4"><ion-button (click)="dec()">-</ion-button></ion-col>
  <ion-col size-md="4" size-lg="4" size-xs="4"><ion-label id="incdec" style="font-size: 30px;">1</ion-label></ion-col>
  <ion-col size-md="4" size-lg="4" size-xs="4"><ion-button (click)="inc()">+</ion-button></ion-col>
</ion-row>
<ion-row style="margin-top:30px">
  <p id="pid"></p>
</ion-row>
<ion-row style="margin-top:30px">
  <ion-checkbox [(ngModel)]="accept" class="form-control" #accep="ngModel" name="accept" required>
  </ion-checkbox>&nbsp;
  <ion-label>I agree
    <a href="#" style="text-decoration: none;">PRESALE RULE</a>
  </ion-label>
</ion-row>
<ion-row style="margin-top:30px;text-align:right">
    <ion-button (click)="closeModal()">CANCEL</ion-button>
    <ion-button (click)="closeModal()">CONFIRM</ion-button>
  </ion-row>
  </form>
</div>
</ion-grid>
  </ion-content>

