

<ion-content>
  <ion-toolbar>
 
    <ion-buttons slot="start">
      <ion-back-button style="background-color: rgb(32, 127, 190);width:100%;height:40px;;padding-top:6px;margin-top:6px;margin-bottom:6px">   </ion-back-button>
    </ion-buttons>
    <ion-title style="background-color: rgb(32, 127, 190);width:100%;height:60px;margin-top:6px">Login</ion-title>
 
 </ion-toolbar>
  <ion-grid>
    <ion-row style="height:200px"></ion-row>

<ion-row color="primary" justify-content-center>
  <ion-col size-md="3"size-lg="3" size-xs="3"></ion-col>
<ion-col align-self-center size-md="6"size-lg="6" size-xs="6">


<ion-list>
<ion-item lines="full">
 <ion-input placeholder="Mobile Number"[(ngModel)]="mobilenumber"></ion-input>
</ion-item>
<ion-item lines="full">
 <ion-input type="password" placeholder="Password"[(ngModel)]="password"></ion-input>
</ion-item>
</ion-list>
<br>
<div class ="button"><ion-button expand="block"  (click)="login()">Login</ion-button></div>
<ion-button class="register" expand="block" color="light" (click)="goRegister()">Register</ion-button>
<ion-button class="forgot" expand="block" color="light"(click)="forget()">Forget Password</ion-button>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
