<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        SignUp
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="center">
    <ion-grid>
      <ion-row style="height:200px"></ion-row>
      <ion-row color="primary" justify-content-center>

        <ion-col size-md="3" size-lg="3" size-xs="3"></ion-col>
        <ion-col size-md="6" size-lg="6" size-xs="6">


          <form #myform="ngForm" class="form-group">
            <ion-item>
              <ion-input type="text" class="form-control" #mob="ngModel" placeholder="Mobile Number"
                [(ngModel)]="mobile" name="mobile" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" class="form-control" #pass="ngModel"
                [(ngModel)]="password" name="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" class="form-control" #cod="ngModel" placeholder="Recommendation Code"
                [(ngModel)]="code" name="code"></ion-input>
            </ion-item>
            <br>
            <ion-checkbox [(ngModel)]="accept" class="form-control" #accep="ngModel" name="accept" required>
            </ion-checkbox>&nbsp;
            <ion-label>I agree
              <a href="#">PRIVACY POLICY</a>
            </ion-label>
            
            <br>
            <div class="button">
              <ion-button expand="block" (click)="register()" [disabled]="myform.invalid || !accept">Register</ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>



</ion-content>