<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: rgb(32, 127, 190);width:100%;height:60px;margin-top:6px;color:white">Payment Options</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div style="width:100%;text-align:center;margin-top:150px">
<img src="../../assets/images/razorpay-thumb2.png" style="width:200px;height:200px;">
<div>
<!-- <a href="https://razorpay.com/payment-links/" style="font-size:20px;margin-top:50px">Pay Now</a> -->
<ion-button style="font-size:20px;margin-top:50px" (click)="payWithRazor()">Pay Now</ion-button>
</div>
</div>
</ion-content>
