<ion-content overflow-scroll="true">
  <ion-grid>
    <ion-toolbar>
    <ion-row>
     

        <ion-col size-md="3" size-lg="5" size-xs="4">
          <div>
            <ion-icon name="hourglass-outline" style="font-size:30px"></ion-icon>
            <div>
              <p>TIMER</p>
              <p style="color: red;">{{timer.min}}.{{timer.sec}}</p>
            </div>
          </div>
        </ion-col>
        <ion-col size-md="12" size-lg="4" size-xs="12">
          <div>
            <ion-icon name="trophy" style="font-size: 30px;"></ion-icon>
            <div>
              <h6>PERIOD</h6>
              <h6 style="color: red;">12102536987</h6>
            </div>

          </div>
        </ion-col>
        <ion-col size-md="12" size-lg="3" size-xs="12">
          <div>
            <ion-label>STEPHEN NEDUMPALLY</ion-label>
            <span>
              <ion-icon name="person-outline" style="font-size: 20px;"></ion-icon>
            </span>

            <p>AVAILABLE BALANCE 12,456.00</p>
            <ion-button color="success" style="background-color: green;">RECHARGE</ion-button>
            <ion-button color="danger" style="background-color: red;">WITHDRAW</ion-button>
          </div>
        </ion-col>
    </ion-row>
    
  </ion-toolbar>
    <ion-row>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <div style="height:30px">

          <ion-tabs>

            <ion-tab-bar slot="top">
              <ion-toolbar>
                <ion-tab-button tab="gold">

                  <ion-label>GOLD</ion-label>
                </ion-tab-button>
              </ion-toolbar>

              <ion-toolbar>
                <ion-tab-button tab="silver">
                  <ion-label>SILVER</ion-label>
                </ion-tab-button>
              </ion-toolbar>
              <ion-toolbar>
                <ion-tab-button tab="platinum">

                  <ion-label>PLATINUM</ion-label>
                </ion-tab-button>
              </ion-toolbar>
              <ion-toolbar>
                <ion-tab-button tab="diamond">

                  <ion-label>DIAMOND</ion-label>

                </ion-tab-button>
              </ion-toolbar>
            </ion-tab-bar>
          </ion-tabs>
        </div>
      </ion-col>
    </ion-row>


    <div style="padding:10px;margin-left:50px;margin-top:20px">
      <ion-row>
        <ion-col size-md="4" size-lg="5" size-xs="12">
          <ion-button color="success" style="width:125px">Join Green</ion-button>
        </ion-col>
        <ion-col size-md="4" size-lg="5" size-xs="12">
          <ion-button style="width:125px">Join Violet</ion-button>
        </ion-col>
        <ion-col size-md="4" size-lg="2" size-xs="12">
          <ion-button color="danger" style="width:125px">Join Red</ion-button>
        </ion-col>
      </ion-row>
    </div>

    

    <div style="height:70px;border-bottom: 1px solid gray;width:100%;margin-top:50px">
      <ion-row>
        <ion-col size="12" size-sm>
          <div style="text-align: center;">

            <p>SILVER RECORD</p>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div>
      <table style="width:100%;margin-bottom:5px;text-align: center;margin-top:20px">
        <thead style="border-bottom: 1px solid gray;height:40px">
          <th>Period</th>
          <th>Number</th>
          <th>Result</th>
        </thead>

        <tr style="border-bottom: 1px solid gray;height:40px">
          <td>20201021171</td>
          <td style="color: red;">8</td>

          <td>
            <ion-icon name="ellipse" style="color:red"></ion-icon>
          </td>
        </tr>

        <tr style="border-bottom: 1px solid gray;height:40px">
          <td>20201021170</td>
          <td style="color: green;">3</td>

          <td>
            <ion-icon name="ellipse" style="color:green"></ion-icon>

          </td>
        </tr>

        <tr style="border-bottom: 1px solid gray;height:40px">
          <td>20201021169</td>
          <td style="color: green;">1</td>

          <td>
            <ion-icon name="ellipse" style="color:green"></ion-icon>
          </td>
        </tr>

        <tr style="border-bottom: 1px solid gray;height:40px">
          <td>2020201021168</td>
          <td style="color: green;">5</td>

          <td>
            <ion-icon name="ellipse" style="color:green"></ion-icon>
            <ion-icon name="ellipse" style="color:violet"></ion-icon>
          </td>
        </tr>

        <tr style="border-bottom: 1px solid gray;height:40px">
          <td>20201021167</td>
          <td style="color: red;">0</td>

          <td>
            <ion-icon name="ellipse" style="color:red"></ion-icon>
            <ion-icon name="ellipse" style="color:violet"></ion-icon>
          </td>
        </tr>

        <tr style="border-bottom: 1px solid gray;height:40px">
          <td>20201021166</td>
          <td style="color: red;">4</td>

          <td>
            <ion-icon name="ellipse" style="color:red"></ion-icon>

          </td>
        </tr>

        <tr style="border-bottom: 1px solid gray;height:40px">
          <td>20201021165</td>
          <td style="color: green;">7</td>

          <td>
            <ion-icon name="ellipse" style="color:green"></ion-icon>

          </td>
        </tr>
      </table>
    </div>


    <ion-toolbar>
      <ion-tabs style="margin-left: 100px;">
        <ion-tab-bar>
          <ion-toolbar>
            <ion-tab-button tab="home">
              <ion-icon name="home-sharp"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-tab-button>
          </ion-toolbar>

          <ion-toolbar>
            <ion-tab-button tab="win">
              <ion-icon name="trophy-sharp"></ion-icon>
              <ion-label>WIN</ion-label>
            </ion-tab-button>
          </ion-toolbar>

          <ion-toolbar>
            <ion-tab-button tab="myaccount">
              <ion-icon name="person-outline"></ion-icon>
              <ion-label>MY ACCOUNT</ion-label>
            </ion-tab-button>
          </ion-toolbar>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-grid>
</ion-content>